<% if current_admin %>
<%= simple_form_for @home, url: admin_root_path, method: :get do |f| %>
  <%= f.input :date, html5: true, label: false, input_html: {value: @day} %>
  <%= f.button :submit, '设置月份', class: "btn-danger" %>
<% end %>
<%= simple_form_for @home, url: admin_output_path(format: :xlsx), method: :get do |f| %>
  <%= f.input :date, html5: true, label: false, input_html: {value: @day} %>
  <%= f.button :submit, 'output', class: "btn-danger" %>
<% end %>
<h1><%= @day.to_s(:month_and_year) %></h1>
<table class="table table-bordered">
  <tr>
    <th></th>
    <% (@day.beginning_of_month..@day.end_of_month).each do |date| %>
      <th class="text-center" style="background:<%= "#A8A8A8" if (date.strftime("%w").to_i == 0 || date.strftime("%w").to_i == 6) %>">
        <%= date.to_s(:month_and_day) %>
        <%= Admin::WEEKDAYS[date.strftime("%w").to_i] %>
      </th>
    <% end %>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td>
        <strong><%= user.name %></strong>
      </td>
      <% (@day.beginning_of_month..@day.end_of_month).each do |date| %>
        <td class="text-center" style="background:<%= "#A8A8A8" if (date.strftime("%w").to_i == 0 || date.strftime("%w").to_i == 6) %>">
          <%= Project.where(id: user.records.where(date: date).pluck(:project_id)).pluck(:name).join(",") %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>