<p id="notice"><%= notice %></p>


<div class="col-md-9">
  <table class="table">
    <thead>
      <tr>
        <th><%= Project.human_attribute_name(:name) %></th>
        <th><%= Project.human_attribute_name(:desc) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.desc %></td>
          <td><%= link_to_if (project.records.count > 0), t(:statistics), statistics_admin_project_path(project) %></td>
          <td><%= link_to t(:edit), edit_admin_project_path(project) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="well col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t(:new) %></div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
