<h1><%= @project.name %></h1>
<table class="table table-bordered">
  <tr>
    <th></th>
    <% @project.records.pluck(:date).each do |date| %>
      <th class="text-center" style="background:<%= "#A8A8A8" if (date.strftime("%w").to_i == 0 || date.strftime("%w").to_i == 6) %>">
        <%= date.to_s(:month_and_day) %>
        <%= Admin::WEEKDAYS[date.strftime("%w").to_i] %>
      </th>
    <% end %>
  </tr>
  <% User.where(id: @project.records.pluck(:user_id)).each do |user| %>
    <tr>
      <td>
        <strong><%= user.name %></strong>
      </td>
      <% @project.records.pluck(:date).each do |date| %>
        <td class="text-center" style="background:<%= "#A8A8A8" if (date.strftime("%w").to_i == 0 || date.strftime("%w").to_i == 6) %>">
          <%= Record.find_by(user_id: user.id, project_id: @project.id, date: date) ? 8 : '' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>