<p id="notice"><%= notice %></p>

<div class="col-md-9">
  <table class="table">
    <thead>
      <tr>
        <th><%= Admin.human_attribute_name(:name) %></th>
        <th><%= Admin.human_attribute_name(:password) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |e| %>
        <tr>
          <td><%= e.name %></td>
          <td><%= link_to t(:edit), edit_admin_admin_path(e) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-3 well">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t(:new) %></div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
