<table class="table">
  <thead>
    <tr>
      <th><%= Record.human_attribute_name(:date) %></th>
      <th><%= Project.human_attribute_name(:name) %></th>
    </tr>
  </thead>

  <tbody>
    <% @dates.each do |date| %>
      <tr>
        <td><%= date %></td>
        <td>
          <% @records.where(date: date).each do |record| %>
            <p>
              <%= record.project.name %>
              <%= record.hour %>
              <%= record.remark %>
            </p>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>